body {
    padding: 20px;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.navbar {
    background-color: #1f1f1f;
}

.navbar-brand, .nav-link {
    color: #00ff62 !important;
}

.container {
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 98, 0.5);
    padding: 20px;
    margin-top: 20px;
}

.centered-textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    background: url("https://i.imgur.com/0VZZpDl.jpeg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 255, 98, 0.8);
    border-radius: 10px;
    resize: none;
    color: #ffffff;
}

.btn-primary {
    background-color: #00ff62;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #00e058;
}

.btn-success {
    background-color: #661c97;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #581785;
}

.btn-block {
    display: block;
    width: 100%;
}

.form-check-label {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 10px;
}

#result {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #1f1f1f;
    box-shadow: 0 0 10px rgba(0, 255, 98, 0.5);
}

.footer {
    background-color: #1f1f1f;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-top: 35px;
    border-top: 1px solid rgba(0, 255, 98, 0.5);
}

.footer p {
    margin: 0;
    display: inline-block;
    margin-right: 30px;
}
